.vue__website {
  display: flex;
  flex-direction: row;
}
.vue__sidebar {
  width: 252px;
  height: 100%;
  z-index: 100;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin-right: 10px;
}
.vue__block {
  margin: 10px;
  text-align: center;
  line-height: 75px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.block__right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 279px;
}
.con__sub__ord {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-height: 250px;
  z-index: -1;
}
.vue__congratulation {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 123px;
}
.vue__subcribers {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.vue__orders {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

/* AVERAGE SUPPORT */
.ave__sup {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-height: 450px;
  z-index: -1;
}
.vue__session {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 407px;
}
.vue__support__tracker {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-height: 500px;
}

/* ===== USER SALE APPS =====*/
.user__sale__app {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 480px;
  z-index: -1;
}
.vue__user__timeline {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.vue__sales {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.vue__app__design {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
/* ===== USER TABLE =====*/
.vue__user__table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
}

.vue__navbar {
  display: flex;
  flex-grow: 1;
  max-width: 100%;
  position: sticky;
  top: 0;
}
/* ===== BUTTON =====*/

.vue__btn {
  height: 38px;
  width: 228px;
  margin: 5px 0px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard__option {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  justify-content: center;
  text-align: center;
  line-height: 15px;
}

.vue__logo {
  height: 50px;
  width: 240px;
  margin: 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apps__pages {
  margin-top: 150px;
}
.vue__icon__text {
  display: flex;
  justify-content: space-between;
  color: white;
}

.vue__btn__text {
  margin-left: 10px;
}
.show {
  display: flex !important;
}

.vue__btn__hide {
  display: none;
}
.vue__box {
  display: flex;
  background-color: aqua;
  transform: translateY(10px);
  transition: all 1s;
}
.card {
  width: 100%;
}
.table-responsive {
  display: inline-table;
}
.vue__logo__img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.logo__name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.far.fa-dot-circle {
  color: white;
  font-size: 19px;
  margin-right: 5px;
}

/* ===== BUTTON CSS =====*/
.vue__icon__text__btn__arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  transition: transform 0.25s ease;
}
.vue__icon__text__btn__arrow:hover {
  transform: translateX(5px);
}
.vue__btn {
  background: #06beb6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #48b1bf,
    #06beb6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #48b1bf,
    #06beb6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: #06beb6 0px 5px 15px;
  border: none;
}
.vue__noti__number {
  height: 20px;
  width: 20px;
  background: orange;
  margin-right: 5px;
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  line-height: -5px;
}
.vue__btn__arrow {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: space-around;
}

.vue__btn__icon {
  font-size: 13px;
  margin-left: 3px;
}
.vue__btn__text {
  font-size: 17px;
  font-weight: 400;
}
.vue__btn__icon__home {
  font-size: 17px;
  margin-left: 0px;
}
.vue__btn__text__home {
  font-size: 23px;
}
.vue__noti__text {
  border-radius: 3px;
  background: tomato;
  width: 50px;
  height: 20px;
  text-align: center;
  margin: 0 1rem;
}
